body{ 

}

header{ 

}

.home-bigname{ 
	font-size: 100px;
 }

 .home-subtitle{ 
	font-size: 50px;
  }

 .home-card{ 
	display:inline-block;
  }

.twitter-card{ 
	color:black !important;
 }



 .martin-section{ 
	padding-bottom: 50px
  }

 .martin-description{ 
 	font-size: 23px;
  }

  .description: { 
	color:white;
	font-size: :;
   }

 